// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// Include Bourbon
$output-bourbon-deprecation-warnings: false;
@import "_bourbon";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/common";

.mat-fab.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 9999;
}

ion-icon {
    &[class*="afiliamd-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        //mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
    // custom icons
    &[class*="afiliamd-agenda"] {
        mask-image: url(../assets/icon/agenda.svg);
    }
    &[class*="afiliamd-beat"] {
        mask-image: url(../assets/icon/beat.svg);
    }
    &[class*="afiliamd-consultorios"] {
        mask-image: url(../assets/icon/consultorios.svg);
    }
    &[class*="afiliamd-datospersonales"] {
        mask-image: url(../assets/icon/datospersonales.svg);
    }
    &[class*="afiliamd-equipotrabajo"] {
        mask-image: url(../assets/icon/equipotrabajo.svg);
    }
    &[class*="afiliamd-finanzas"] {
        mask-image: url(../assets/icon/finanzas.svg);
    }
    &[class*="afiliamd-hospitales"] {
        mask-image: url(../assets/icon/hospitales.svg);
    }    
    &[class*="afiliamd-notificaciones"] {
        mask-image: url(../assets/icon/notificaciones.svg);
    }    
    &[class*="afiliamd-pacientes"] {
        mask-image: url(../assets/icon/pacientes.svg);
    }    
    &[class*="afiliamd-pasodevisita"] {
        mask-image: url(../assets/icon/pasodevisita.svg);
    }    
    &[class*="afiliamd-equipotrabajo"] {
        mask-image: url(../assets/icon/equipotrabajo.svg);
    }    
    &[class*="afiliamd-pendientes"] {
        mask-image: url(../assets/icon/pendientes.svg);
    }    
    &[class*="afiliamd-recetas"] {
        mask-image: url(../assets/icon/recetas.svg);
    }    
}